<mat-toolbar color="primary" style="width: 100%">
  <mat-toolbar-row style="width: 100%">
    <div>
      <a
        mat-raised-button
        matBadgeColor="warn"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
      >
        Smart soft
      </a>
    </div>
    <div *ngIf="admin">
      <a
        mat-raised-button
        matBadgeColor="warn"
        [routerLink]="['/admin']"
        routerLinkActive="router-link-active"
        style="margin-right: 1rem"
      >
        Soy Admin
      </a>
    </div>
    <div *ngIf="admin">
      <button
        mat-raised-button
        matBadgeColor="warn"
        style="margin-right: 1rem"
        (click)="logOut()"
      >
        Cerrar sesion
      </button>
    </div>
    <div *ngIf="!admin">
      <a
        mat-raised-button
        matBadgeColor="warn"
        style="margin-right: 1rem"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
      >
        Iniciar sesion
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
