<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Crear un usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Empresa" formControlName="company" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="firstName" />
            <mat-error
              *ngIf="addressForm.controls['firstName'].hasError('required')"
            >
              El nombre es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="lastName" />
            <mat-error
              *ngIf="addressForm.controls['lastName'].hasError('required')"
            >
              El apellido es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Pais" formControlName="country">
              <mat-option
                *ngFor="let country of countryList; let i = index"
                [value]="country"
                (click)="listCities(i)"
              >
                {{ country }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['country'].hasError('required')"
            >
              El pais es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Ciudad" formControlName="city">
              <mat-option
                *ngFor="let city of cityList; let i = index"
                [value]="city"
              >
                {{ city }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['city'].hasError('required')"
            >
              La ciudad es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
