/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  background: url("./assets/BackgroundLoginMobile.jpg");
  background-size: auto;
}
@media (min-width: 768px) {
  body {
    background: url("./assets/BackgroundLogin.jpg");
    background-size: cover;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
